.dropdown-language{
    width: 50px;
    font-size: 13px;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgb(228, 222, 222);
    position: absolute;
    top: 11vh;
}

.dropdown-language li {
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-language li:hover {
    background-color: rgb(207, 203, 203);
    transition: 0.2s;
}