.btn {
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: green;
    padding: 5px 28px;
    font-size: 8px;
    color: rgb(223, 217, 217);
    cursor: pointer;
}

.btn-first {
    position: relative;
    left: 70px;
    padding: 5px 25px;
    color:  rgb(214, 213, 213);
}

.btn-small {
    padding: 3px 10px;
    width: 100px;
    font-size: 7px;
}

.btn-product {
    margin-left: 8px;
    border-radius: 6px;
}

.btn-more {
    background-color: #fff;
    color: green;
    border: 1px solid green;
    font-weight: 700;
    width: 80px;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

.btn-info1 {
    width: 92%;
    height: 20px;
    margin-top: 15px;

}

.btn-info2 {
    color: black;
    background-color: #fff;
    width: 92%;
    height: 20px;
    margin-top: 5px;
    border: 1px solid rgb(228, 222, 222);
}